@model Planner.Models.TaskItem

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить данный пункт из списка дел?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datetime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку дел", "Index")
        </div>
    }
</div>
